<div>
  
  {% for room in rooms %}
  <div>

    {% if request.user == room.host %}
    <a href="{% url 'update-room' room.id %}">Edit</a>
    <a href="{% url 'delete-room' room.id %}">Delete</a>
    {% endif %}
    <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
    <!-- this will show the username in the models(database) -->
    <!-- Dianamically call a page : in href form  url name of the path id number in the dictionary in views function-->
    <h5>
      {{ room.id }} -- <a href="{% url 'room' room.id %}">{{room.name}}</a>
    </h5>
    <small>{{room.topic.name}}</small>
    <hr />

  </div>

  {% endfor %}
</div>