{% extends 'main.html' %}

{% block content %}

<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Reset Password</h3>
        </div>
      </div>
      <div class="layout__body">
        <!-- <h2 class="auth__tagline">Find your study partner</h2> -->

        
          
          <h4 class="auth__action">Password resetted Successfully</h4>
          
        

        <div class="auth__action">
          <p>Login Now</p>
          <a href="{% url 'login' %}" class="btn btn--link">Log In</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}